{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="tile">
    <h2>News Links</h2>
    <ul>
        <li><a href="https://www.youtube.com" target="_blank">New York Times</a></li>
        <li><a href="https://www.washingtonpost.com" target="_blank">Washington Post</a></li>
        <li><a href="https://www.reuters.com" target="_blank">Reuters</a></li>
        <li><a href="https://www.aljazeera.com" target="_blank">Al Jazeera</a></li>
        <li><a href="https://timesofindia.indiatimes.com" target="_blank">Times of India</a></li>
    </ul>
</div>
{% endblock %}
