{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <div class="tile">
        <h2>Social Media Links</h2>
        <ul class="entertainment-list">
            <li>
                <a href="https://www.youtube.com/@IonicaneYT" target="_blank">
                    <img src="{% static 'images/youtube-logo.png' %}" alt="Youtube Logo" class="logo">
                    Youtube
                </a>
            </li>
            <li>
                <a href="https://www.discord.com" target="_blank">
                    <img src="{% static 'images/discord-logo.png' %}" alt="Discord Logo" class="logo">
                    Discord
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram Logo" class="logo">
                    Instagram
                </a>
            </li>
            <li>
                <a href="https://reddit.com/" target="_blank">
                    <img src="{% static 'images/reddit-logo.png' %}" alt="Reddit Logo" class="logo">
                    Reddit
                </a>
            </li>
            <!-- Add other list items here -->
        </ul>
    </div>
    {% endblock %}
</body>
</html>
